# Task 1
- How many columns are there?
    - 3 columns: Name, Gender, Number of occurencies of the name
- How are columns separated?
    - The columns are separeted with commas
- Is there a header on top of the files?
    - No header is present

# Task 2

In [10]:
import pandas as pd

names2021 = pd.read_csv('names/yob2021.txt', header=None, names=['name', 'gender', 'count'])
names2021

            name gender  count
0         Olivia      F  17728
1           Emma      F  15433
2      Charlotte      F  13285
3         Amelia      F  12952
4            Ava      F  12759
...          ...    ...    ...
31532     Zyeire      M      5
31533       Zyel      M      5
31534      Zyian      M      5
31535      Zylar      M      5
31536        Zyn      M      5

[31537 rows x 3 columns]

# Task 3

In [11]:
names2021.head(10)

        name gender  count
0     Olivia      F  17728
1       Emma      F  15433
2  Charlotte      F  13285
3     Amelia      F  12952
4        Ava      F  12759
5     Sophia      F  12496
6   Isabella      F  11201
7        Mia      F  11096
8     Evelyn      F   9434
9     Harper      F   8388

# Task 4

In [15]:
names2021.shape

(31537, 3)

# Task 5

In [25]:
names2021['count'].sum()

3361375

# Task 6

In [45]:
females = names2021[names2021['gender'] == 'F']
males = names2021[names2021['gender'] == 'M']
print('Females: ' + str(girls['count'].sum()))
print('Males: ' + str(males['count'].sum()))

Females: 1627098
Males: 1734277

# Task 7

In [46]:
'Yes' if 'Mattia' in names2021['name'] else 'No'

'No'

# Task 8

In [49]:
males_percentage = (males['count'].sum()/names2021['count'].sum())*100
females_percentage = (females['count'].sum()/names2021['count'].sum())*100
print(f'Males {males_percentage} % and Females {females_percentage} %')

Males 51.59427317689933 % and Females 48.405726823100665 %

# Task 9

In [65]:
top5_males_names = males.sort_values(by='count', ascending=False).head(5)
top5_females_names = females.sort_values(by='count', ascending=False).head(5)
top10_females_and_males_names = pd.concat([top5_females_names, top5_males_names]).sort_values(by='count', ascending=False)
print(f'The most 5 males and females names used were: \n{top10_females_and_males_names}')

The most 5 males and females names used were:
            name gender  count
17544       Liam      M  20272
17545       Noah      M  18739
0         Olivia      F  17728
1           Emma      F  15433
17546     Oliver      M  14616
2      Charlotte      F  13285
3         Amelia      F  12952
4            Ava      F  12759
17547     Elijah      M  12708
17548      James      M  12367

# Task 10

In [74]:
top10_females_and_males_names.to_excel('top10_females_and_males_names.xlsx', index=False)